html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */
#home{
    display: flex;
    min-height: 100vh;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#bio{
    display:flex;
    min-height: 100vh;
    background-color: rgb(24, 95, 95);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#portfolio{
    display: flex;
    min-height: 100vh;
    background-color: rgb(190, 215, 215);
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#contact{
    display: flex;
    min-height: 100vh;
    background-color: rgb(56, 107, 107);
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
